En este segundo notebook lo que queremos hacer es profundizar en las columnas que hemos elegido, eliminando todos los los valores nulos. También queremos explorar las columnas que contienen diccionarios y por ultimo eliminar si tenemos valores duplicados en nuestros datos.

In [26]:
import pandas as pd
import ast

In [27]:
pd.set_option('display.max_colwidth', None)

In [28]:
df = pd.read_csv("../data/working_data/idealista_data_cleaned_1.csv")
df

,propertyCode,price,priceInfo,propertyType,operation,size,rooms,bathrooms,province,municipality,...,country,neighborhood,latitude,longitude,status,newDevelopment,parkingSpace,priceByArea,floor,hasLift
0,107634575,985000,€,chalet,sale,245.0,4.0,3.0,Málaga,Málaga,...,es,Parque Clavero,36.726046,-4.392859,good,False,"{'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': True}",4020.0,NaN,NaN
1,106393537,265000,€,flat,sale,66.0,2.0,1.0,Málaga,Málaga,...,es,Huelin,36.703176,-4.438555,good,False,NaN,4015.0,8,1.0
2,106281335,275000,€,flat,sale,82.0,2.0,2.0,Málaga,Málaga,...,es,Olletas - Sierra Blanquilla,36.731530,-4.414621,good,False,NaN,3354.0,1,1.0
3,107840913,1600000,€,flat,sale,174.0,3.0,2.0,Málaga,Málaga,...,es,Malagueta - Monte Sancha,36.721393,-4.405125,good,False,"{'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': True}",9195.0,1,1.0
4,97484253,550000,€,flat,sale,143.0,3.0,2.0,Málaga,Málaga,...,es,Centro Histórico,36.720695,-4.421476,good,False,NaN,3846.0,3,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8087,103725086,9000,€,garage,sale,NaN,NaN,NaN,Málaga,Mijas,...,es,Sitio de Calahonda,36.508218,-4.725346,NaN,False,NaN,300.0,st,1.0
8088,108599387,22000,€,garage,sale,NaN,NaN,NaN,Málaga,Benalmádena,...,es,NaN,36.590990,-4.535055,NaN,False,NaN,815.0,bj,0.0
8089,103380778,8000,€,garage,sale,NaN,NaN,NaN,Málaga,Torremolinos,...,es,Manantiales - Estación de Autobuses,36.631383,-4.502652,NaN,False,NaN,276.0,st,0.0
8090,103724424,9900,€,garage,sale,NaN,NaN,NaN,Málaga,Benalmádena,...,es,Zona Centro Comercial Torrequebrada,36.581868,-4.551639,NaN,False,NaN,381.0,st,1.0
8091,106625760,29260,€,garage,sale,NaN,NaN,NaN,Málaga,Marbella,...,es,Nueva Andalucía,36.495655,-4.966438,NaN,False,NaN,750.0,st,1.0

In [29]:
df["num_columnas_nulas"] = df.isna().sum(axis=1)
df

,propertyCode,price,priceInfo,propertyType,operation,size,rooms,bathrooms,province,municipality,...,neighborhood,latitude,longitude,status,newDevelopment,parkingSpace,priceByArea,floor,hasLift,num_columnas_nulas
0,107634575,985000,€,chalet,sale,245.0,4.0,3.0,Málaga,Málaga,...,Parque Clavero,36.726046,-4.392859,good,False,"{'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': True}",4020.0,NaN,NaN,2
1,106393537,265000,€,flat,sale,66.0,2.0,1.0,Málaga,Málaga,...,Huelin,36.703176,-4.438555,good,False,NaN,4015.0,8,1.0,1
2,106281335,275000,€,flat,sale,82.0,2.0,2.0,Málaga,Málaga,...,Olletas - Sierra Blanquilla,36.731530,-4.414621,good,False,NaN,3354.0,1,1.0,1
3,107840913,1600000,€,flat,sale,174.0,3.0,2.0,Málaga,Málaga,...,Malagueta - Monte Sancha,36.721393,-4.405125,good,False,"{'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': True}",9195.0,1,1.0,0
4,97484253,550000,€,flat,sale,143.0,3.0,2.0,Málaga,Málaga,...,Centro Histórico,36.720695,-4.421476,good,False,NaN,3846.0,3,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8087,103725086,9000,€,garage,sale,NaN,NaN,NaN,Málaga,Mijas,...,Sitio de Calahonda,36.508218,-4.725346,NaN,False,NaN,300.0,st,1.0,5
8088,108599387,22000,€,garage,sale,NaN,NaN,NaN,Málaga,Benalmádena,...,NaN,36.590990,-4.535055,NaN,False,NaN,815.0,bj,0.0,6
8089,103380778,8000,€,garage,sale,NaN,NaN,NaN,Málaga,Torremolinos,...,Manantiales - Estación de Autobuses,36.631383,-4.502652,NaN,False,NaN,276.0,st,0.0,5
8090,103724424,9900,€,garage,sale,NaN,NaN,NaN,Málaga,Benalmádena,...,Zona Centro Comercial Torrequebrada,36.581868,-4.551639,NaN,False,NaN,381.0,st,1.0,5
8091,106625760,29260,€,garage,sale,NaN,NaN,NaN,Málaga,Marbella,...,Nueva Andalucía,36.495655,-4.966438,NaN,False,NaN,750.0,st,1.0,5

In [30]:
(df["num_columnas_nulas"] > 8).sum()

np.int64(5)

In [31]:
df = df.drop(columns=["num_columnas_nulas"])

No hay demasiadas filas que tengan demasiados valores nulos

Todos los datos están bastantes completos

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8092 entries, 0 to 8091
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   propertyCode    8092 non-null   int64
 1   price           8092 non-null   int64
 2   priceInfo       8092 non-null   object
 3   propertyType    8092 non-null   object
 4   operation       8092 non-null   object
 5   size            7434 non-null   float64
 6   rooms           5350 non-null   float64
 7   bathrooms       7434 non-null   float64
 8   province        8092 non-null   object
 9   municipality    8092 non-null   object
 10  district        7950 non-null   object
 11  country         8092 non-null   object
 12  neighborhood    5927 non-null   object
 13  latitude        8092 non-null   float64
 14  longitude       8092 non-null   float64
 15  status          7407 non-null   object
 16  newDevelopment  8092 non-null   bool
 17  parkingSpace    4000 non-null   object
 18  priceByArea     7962 non-null   float64
 19  floor           5462 non-null   object
 20  hasLift         4816 non-null   float64
dtypes: bool(1), float64(7), int64(2), object(11)
memory usage: 1.2+ MB

In [33]:
# Comenzamos con size, que vamos a poner los nulos a 0
df['size'] = df['size'].fillna(0)

In [34]:
# Lo mismo lo hacemos con rooms y bathrooms
df['rooms'] = df['rooms'].fillna(0)
df['bathrooms'] = df['bathrooms'].fillna(0)

In [35]:
# District y neighborhood los vamos a poner a "Unknown"
df['district'] = df['district'].fillna("Unknown")
df['neighborhood'] = df['neighborhood'].fillna("Unknown")

In [36]:
df["parkingSpace"].head(20)

0     {'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': True}
1                                                                  NaN
2                                                                  NaN
3     {'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': True}
4                                                                  NaN
5                                                                  NaN
6                                                                  NaN
7                                                                  NaN
8                                                                  NaN
9     {'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': True}
10                                                                 NaN
11    {'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': True}
12    {'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': True}
13    {'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': True}
14    {'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': True}
15                                                                 NaN
16                                                                 NaN
17                                                                 NaN
18    {'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': True}
19    {'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': True}
Name: parkingSpace, dtype: object

In [37]:
# Convertimos los strings a diccionarios (solo si no son ya dicts)
df["parkingSpace"] = df["parkingSpace"].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

In [38]:
df["hasParkingSpace"] = df["parkingSpace"].apply(lambda x: x["hasParkingSpace"] if pd.notna(x) else None)
df["isParkingSpaceIncludedInPrice"] = df["parkingSpace"].apply(lambda x: x.get("isParkingSpaceIncludedInPrice") if pd.notna(x) else None)

In [39]:
df.head(20)

,propertyCode,price,priceInfo,propertyType,operation,size,rooms,bathrooms,province,municipality,...,latitude,longitude,status,newDevelopment,parkingSpace,priceByArea,floor,hasLift,hasParkingSpace,isParkingSpaceIncludedInPrice
0,107634575,985000,€,chalet,sale,245.0,4.0,3.0,Málaga,Málaga,...,36.726046,-4.392859,good,False,"{'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': True}",4020.0,NaN,NaN,True,True
1,106393537,265000,€,flat,sale,66.0,2.0,1.0,Málaga,Málaga,...,36.703176,-4.438555,good,False,NaN,4015.0,8,1.0,None,None
2,106281335,275000,€,flat,sale,82.0,2.0,2.0,Málaga,Málaga,...,36.731530,-4.414621,good,False,NaN,3354.0,1,1.0,None,None
3,107840913,1600000,€,flat,sale,174.0,3.0,2.0,Málaga,Málaga,...,36.721393,-4.405125,good,False,"{'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': True}",9195.0,1,1.0,True,True
4,97484253,550000,€,flat,sale,143.0,3.0,2.0,Málaga,Málaga,...,36.720695,-4.421476,good,False,NaN,3846.0,3,0.0,None,None
5,107293953,339900,€,flat,sale,120.0,5.0,1.0,Málaga,Málaga,...,36.711503,-4.438170,good,False,NaN,2833.0,7,1.0,None,None
6,106468846,350000,€,flat,sale,91.0,3.0,2.0,Málaga,Málaga,...,36.693284,-4.446240,good,False,NaN,3846.0,2,1.0,None,None
7,103182800,545000,€,flat,sale,145.0,5.0,2.0,Málaga,Málaga,...,36.727350,-4.409431,good,False,NaN,3759.0,8,1.0,None,None
8,105425835,550000,€,flat,sale,143.0,3.0,2.0,Málaga,Málaga,...,36.723110,-4.422928,good,False,NaN,3846.0,3,0.0,None,None
9,106149840,950000,€,penthouse,sale,200.0,3.0,2.0,Málaga,Málaga,...,36.716861,-4.433021,good,False,"{'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': True}",4750.0,4,1.0,True,True
10,107170417,890000,€,flat,sale,145.0,3.0,3.0,Málaga,Málaga,...,36.719970,-4.420199,good,False,NaN,6138.0,1,1.0,None,None
11,108041928,1200000,€,flat,sale,221.0,5.0,2.0,Málaga,Málaga,...,36.730140,-4.404318,good,False,"{'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': True}",5430.0,2,1.0,True,True
12,105727524,869500,€,chalet,sale,283.0,6.0,4.0,Málaga,Málaga,...,36.727514,-4.390672,good,False,"{'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': True}",3072.0,NaN,NaN,True,True
13,106219612,398000,€,chalet,sale,240.0,5.0,2.0,Málaga,Málaga,...,36.741065,-4.476519,good,False,"{'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': True}",1658.0,NaN,NaN,True,True
14,107077467,1287000,€,chalet,sale,280.0,6.0,4.0,Málaga,Málaga,...,36.722569,-4.406482,good,False,"{'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': True}",4596.0,NaN,NaN,True,True
15,106979987,538000,€,flat,sale,88.0,3.0,2.0,Málaga,Málaga,...,36.728711,-4.428527,good,False,NaN,6114.0,NaN,1.0,None,None
16,106979867,290000,€,flat,sale,99.0,2.0,1.0,Málaga,Málaga,...,36.726698,-4.416061,good,False,NaN,2929.0,bj,1.0,None,None
17,107639268,650000,€,flat,sale,120.0,4.0,2.0,Málaga,Málaga,...,36.720754,-4.408216,good,False,NaN,5417.0,1,1.0,None,None
18,106849379,1800000,€,chalet,sale,407.0,7.0,5.0,Málaga,Málaga,...,36.727358,-4.400410,good,False,"{'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': True}",4423.0,NaN,NaN,True,True
19,107141527,435000,€,flat,sale,86.0,2.0,2.0,Málaga,Málaga,...,36.731158,-4.427564,good,False,"{'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': True}",5058.0,26,1.0,True,True

Podemos ahora eliminar la columna de parkingSpace. Y lo que quiero comprobar ahora es cuantas filas tienen los valores de hasParkingSpace y isParkingSpaceIncludedInPrice a True

In [40]:
conteo1 = ((df["hasParkingSpace"] == True) & (df["isParkingSpaceIncludedInPrice"] == True)).sum()

print(f"Número de filas donde ambas columnas son True: {conteo1}")

Número de filas donde ambas columnas son True: 3321

In [41]:
conteo2 = ((df["hasParkingSpace"] == True) & (df["isParkingSpaceIncludedInPrice"] == False)).sum()

print(f"Número de filas donde hay parking pero no esta incluido en el precio: {conteo2}")

Número de filas donde hay parking pero no esta incluido en el precio: 59

In [42]:
conteo = ((df["hasParkingSpace"] == False)).sum()

print(f"Número de filas donde no hay parking: {conteo}")

Número de filas donde no hay parking: 532

In [43]:
df["hasParkingSpace"].value_counts()

hasParkingSpace
True     3468
False     532
Name: count, dtype: int64

In [44]:
df["isParkingSpaceIncludedInPrice"].value_counts()

isParkingSpaceIncludedInPrice
True     3321
False      59
Name: count, dtype: int64

In [45]:
conteo3 = ((df["hasParkingSpace"] == True) & (df["isParkingSpaceIncludedInPrice"] != False) & (df["isParkingSpaceIncludedInPrice"] != True)).sum()
print(conteo3)

88

In [46]:
conteo + conteo1 + conteo2 + conteo3

np.int64(4000)

No se si es bueno o no quedarnos con las dos columnas en el modelo, la de saber si tiene parking o no disponible si que me parece buena. La de tener o no el precio incluido por ahora la voy a quitar

In [47]:
df = df.drop(columns=["parkingSpace", "isParkingSpaceIncludedInPrice"])

In [48]:
df["hasParkingSpace"] = df["hasParkingSpace"].fillna(False)

C:\Users\stefa\AppData\Local\Temp\ipykernel_17712\1993320084.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["hasParkingSpace"] = df["hasParkingSpace"].fillna(False)

In [49]:
# Los valores nulos en "priceByArea" los vamos a rellenar con la mediana de esa columna
mediana = df["priceByArea"].median()
df["priceByArea"] = df["priceByArea"].fillna(mediana)

In [50]:
df["status"] = df["status"].fillna("unknown")

In [51]:
df["floor"].unique()

array([nan, '8', '1', '3', '7', '2', '4', 'bj', '26', '6', '9', '5', '10',
       '18', '17', '16', '20', '14', '13', '23', 'en', '24', '11', '28',
       '12', '19', '27', '15', '25', '22', 'ss', '-1', 'st', '-2', 'ati'],
      dtype=object)

Reemplazo lo que no está con valores numericos?

# Copia de la columna para limpiar
df["floor"] = df["floor"].copy()

# Mapea valores textuales a enteros según significado
mapeo = {
    "bj": 0,     # Bajo
    "en": 0.5,   # Entreplanta
    "ati": 3.5,  # Ático, puedes ponerlo como piso más alto, o 0.5 si no sabes
    "st": 0.5,   # Similar a 'en' o 'semi sótano'
    "ss": -1     # Sótano
}

# Aplica mapeo
df["floor"] = df["floor"].replace(mapeo)

# Convierte el resto a numérico (valores que eran strings de números)
df["floor"] = pd.to_numeric(df["floor"], errors="coerce")

In [54]:
df["hasLift"] = df["hasLift"].fillna(0)

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6142 entries, 0 to 8091
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   propertyCode     6142 non-null   int64
 1   price            6142 non-null   int64
 2   priceInfo        6142 non-null   object
 3   propertyType     6142 non-null   object
 4   operation        6142 non-null   object
 5   size             6142 non-null   float64
 6   rooms            6142 non-null   float64
 7   bathrooms        6142 non-null   float64
 8   province         6142 non-null   object
 9   municipality     6142 non-null   object
 10  district         6142 non-null   object
 11  country          6142 non-null   object
 12  neighborhood     6142 non-null   object
 13  latitude         6142 non-null   float64
 14  longitude        6142 non-null   float64
 15  status           6142 non-null   object
 16  newDevelopment   6142 non-null   bool
 17  priceByArea      6142 non-null   float64
 18  floor            4154 non-null   object
 19  hasLift          6142 non-null   float64
 20  hasParkingSpace  6142 non-null   bool
dtypes: bool(2), float64(7), int64(2), object(10)
memory usage: 971.7+ KB

In [58]:
df = df.drop_duplicates()

Genial, ya tenemos los datos bastante limpios, nos queda ver como trabajar con los datos de floor.

In [60]:
# Guardamos el dataframe
df.to_csv("../data/working_data/idealista_data_cleaned_2.csv", index=False)