Este primer dataframe se lleva cabo la union de todos los achivos descargados y la eleccion de las columnas con las que vamos a trabajar.

In [46]:
import os
import json
from pathlib import Path
import pandas as pd
import json

In [47]:
from data_cleaning import merge_json_files

In [48]:
pd.set_option('display.max_colwidth', None)

In [49]:
extracted_data_path = "../data/extracted_data"
working_data_path = "../data/working_data"

In [50]:
data = merge_json_files(extracted_data_path, working_data_path)

In [51]:
# # Con un concat de lineas es como tengo que unir los archivos
# filepath = "../data/idealista-data-2025-06-09_17-48-34.json"
# filepath2 = "../data/idealista-data-2025-05-07_20-01-24.json"
# file = json.load(open(filepath, "r", encoding="utf-8"))
# file2 = json.load(open(filepath2, "r", encoding="utf-8"))
# result = file["elementList"] + file2["elementList"]
# with open("../data/result.json", "w", encoding="utf-8") as f:
#     json.dump(result, f, ensure_ascii=False, indent=2)

In [52]:
df = pd.read_json("../data/working_data/merged_data.json")
df

,propertyCode,thumbnail,externalReference,numPhotos,price,priceInfo,propertyType,operation,size,rooms,...,highlight,savedAd,notes,topNewDevelopment,topPlus,floor,exterior,hasLift,newDevelopmentFinished,ubicationInfo
0,107634575,https://img4.idealista.com/blur/480_360_mq/0/id.pro.es.image.master/7a/ed/13/1333852019.webp,jn206265,72,985000,"{'price': {'amount': 985000.0, 'currencySuffix': '€'}}",chalet,sale,245.0,4.0,...,{'groupDescription': 'Top+'},{},[],False,True,NaN,NaN,NaN,NaN,NaN
1,106393537,https://img4.idealista.com/blur/480_360_mq/0/id.pro.es.image.master/63/aa/59/1314693219.webp,CLK00/4460,27,265000,"{'price': {'amount': 265000.0, 'currencySuffix': '€', 'priceDropInfo': {'formerPrice': 280000.0, 'priceDropValue': 15000, 'priceDropPercentage': 5}}}",flat,sale,66.0,2.0,...,{'groupDescription': 'Top+'},{},[],False,True,8,1.0,1.0,NaN,NaN
2,106281335,https://img4.idealista.com/blur/480_360_mq/0/id.pro.es.image.master/2c/af/01/1310230736.webp,CLK00/4433,36,275000,"{'price': {'amount': 275000.0, 'currencySuffix': '€', 'priceDropInfo': {'formerPrice': 280000.0, 'priceDropValue': 5000, 'priceDropPercentage': 2}}}",flat,sale,82.0,2.0,...,{'groupDescription': 'Top+'},{},[],False,True,1,1.0,1.0,NaN,NaN
3,107840913,https://img4.idealista.com/blur/480_360_mq/0/id.pro.es.image.master/02/46/50/1325936811.webp,vo207622,43,1600000,"{'price': {'amount': 1600000.0, 'currencySuffix': '€'}}",flat,sale,174.0,3.0,...,{'groupDescription': 'Top+'},{},[],False,True,1,1.0,1.0,NaN,NaN
4,97484253,https://img4.idealista.com/blur/480_360_mq/0/id.pro.es.image.master/11/33/42/1301595388.webp,007--13906,28,550000,"{'price': {'amount': 550000.0, 'currencySuffix': '€', 'priceDropInfo': {'formerPrice': 590000.0, 'priceDropValue': 40000, 'priceDropPercentage': 7}}}",flat,sale,143.0,3.0,...,{'groupDescription': 'Top+'},{},[],False,True,3,1.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8087,103725086,https://img4.idealista.com/blur/480_360_mq/0/id.pro.es.image.master/11/3e/a2/1198229324.webp,QONB241-2852M3,15,9000,"{'price': {'amount': 9000.0, 'currencySuffix': '€'}}",garage,sale,NaN,NaN,...,NaN,{},[],False,False,st,NaN,1.0,NaN,NaN
8088,108599387,https://img4.idealista.com/blur/480_360_mq/0/id.pro.es.image.master/bd/52/58/1349596569.webp,2383,7,22000,"{'price': {'amount': 22000.0, 'currencySuffix': '€'}}",garage,sale,NaN,NaN,...,NaN,{},[],False,False,bj,NaN,0.0,NaN,NaN
8089,103380778,https://img4.idealista.com/blur/480_360_mq/0/id.pro.es.image.master/22/55/7d/1187692719.webp,QRB1671NCM2,5,8000,"{'price': {'amount': 8000.0, 'currencySuffix': '€'}}",garage,sale,NaN,NaN,...,NaN,{},[],False,False,st,NaN,0.0,NaN,NaN
8090,103724424,https://img4.idealista.com/blur/480_360_mq/0/id.pro.es.image.master/9b/e1/43/1198212398.webp,QRB1693NCM3,15,9900,"{'price': {'amount': 9900.0, 'currencySuffix': '€'}}",garage,sale,NaN,NaN,...,NaN,{},[],False,False,st,NaN,1.0,NaN,NaN
8091,106625760,https://img4.idealista.com/blur/480_360_mq/0/id.pro.es.image.master/de/4f/99/1289116459.webp,QONB284-32513M2,18,29260,"{'price': {'amount': 29260.0, 'currencySuffix': '€'}}",garage,sale,NaN,NaN,...,NaN,{},[],False,False,st,NaN,1.0,NaN,NaN

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8092 entries, 0 to 8091
Data columns (total 45 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   propertyCode            8092 non-null   int64
 1   thumbnail               8075 non-null   object
 2   externalReference       6335 non-null   object
 3   numPhotos               8092 non-null   int64
 4   price                   8092 non-null   int64
 5   priceInfo               8092 non-null   object
 6   propertyType            8092 non-null   object
 7   operation               8092 non-null   object
 8   size                    7434 non-null   float64
 9   rooms                   5350 non-null   float64
 10  bathrooms               7434 non-null   float64
 11  address                 8092 non-null   object
 12  province                8092 non-null   object
 13  municipality            8092 non-null   object
 14  district                7950 non-null   object
 15  country                 8092 non-null   object
 16  neighborhood            5927 non-null   object
 17  latitude                8092 non-null   float64
 18  longitude               8092 non-null   float64
 19  showAddress             8092 non-null   bool
 20  url                     8092 non-null   object
 21  distance                1449 non-null   float64
 22  description             8081 non-null   object
 23  hasVideo                8092 non-null   bool
 24  status                  7407 non-null   object
 25  newDevelopment          8092 non-null   bool
 26  parkingSpace            4000 non-null   object
 27  priceByArea             7962 non-null   float64
 28  change                  8092 non-null   object
 29  detailedType            8092 non-null   object
 30  suggestedTexts          8092 non-null   object
 31  hasPlan                 8092 non-null   bool
 32  has3DTour               8092 non-null   bool
 33  has360                  8092 non-null   bool
 34  hasStaging              8092 non-null   bool
 35  highlight               3339 non-null   object
 36  savedAd                 8092 non-null   object
 37  notes                   8092 non-null   object
 38  topNewDevelopment       8092 non-null   bool
 39  topPlus                 8092 non-null   bool
 40  floor                   5462 non-null   object
 41  exterior                4228 non-null   float64
 42  hasLift                 4816 non-null   float64
 43  newDevelopmentFinished  365 non-null    float64
 44  ubicationInfo           1248 non-null   object
dtypes: bool(9), float64(10), int64(3), object(23)
memory usage: 2.3+ MB

Para analizar con que características nos queremos quedar vamos a profundizar en algunas de las columnas para saber exactamente que datos tenemos.
Por ejemplo hay algunas columnas que directamente si podemos eliminar que no nos van a servir para nuestro modelo como: [thumbnail, externalReference, numPhotos, showAddress, address, url, hasVideo, has3DTour, has360, savedAd, notes]
[province, municipality, district, country, neighborhood] estas características veremos si las podemos quitar o no, vamos a hacer dos datasets, uno con ellas y otro sin para ver cual de los dos modelos da mejores resultados. Principalmente lo que necesitamos para entrenar el modelo es la latitud y la longitud para poder pintar un mapa y elegir un punto. Además ya sabemos que todos los datos son de la provincia de malaga.

In [54]:
drop_columns = ["thumbnail", "externalReference", "numPhotos", "showAddress", "address", "url", "hasVideo", "has3DTour", "has360", "savedAd", "notes"]
df_ubi = df.drop(columns=drop_columns)

ubi_columns = ["province", "municipality", "district", "country", "neighborhood"]
df_no_ubi = df_ubi.drop(columns=ubi_columns)

In [55]:
df_ubi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8092 entries, 0 to 8091
Data columns (total 34 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   propertyCode            8092 non-null   int64
 1   price                   8092 non-null   int64
 2   priceInfo               8092 non-null   object
 3   propertyType            8092 non-null   object
 4   operation               8092 non-null   object
 5   size                    7434 non-null   float64
 6   rooms                   5350 non-null   float64
 7   bathrooms               7434 non-null   float64
 8   province                8092 non-null   object
 9   municipality            8092 non-null   object
 10  district                7950 non-null   object
 11  country                 8092 non-null   object
 12  neighborhood            5927 non-null   object
 13  latitude                8092 non-null   float64
 14  longitude               8092 non-null   float64
 15  distance                1449 non-null   float64
 16  description             8081 non-null   object
 17  status                  7407 non-null   object
 18  newDevelopment          8092 non-null   bool
 19  parkingSpace            4000 non-null   object
 20  priceByArea             7962 non-null   float64
 21  change                  8092 non-null   object
 22  detailedType            8092 non-null   object
 23  suggestedTexts          8092 non-null   object
 24  hasPlan                 8092 non-null   bool
 25  hasStaging              8092 non-null   bool
 26  highlight               3339 non-null   object
 27  topNewDevelopment       8092 non-null   bool
 28  topPlus                 8092 non-null   bool
 29  floor                   5462 non-null   object
 30  exterior                4228 non-null   float64
 31  hasLift                 4816 non-null   float64
 32  newDevelopmentFinished  365 non-null    float64
 33  ubicationInfo           1248 non-null   object
dtypes: bool(5), float64(10), int64(2), object(17)
memory usage: 1.8+ MB

Para saber si otras columnas no son útiles vamos a profundizar en las columnas: 
    priceInfo,
    description,
    status,
    priceByArea,
    change,
    detailedType,
    suggestedTexts,
    hasPlan,
    hasStaging,
    highlight,
    topNewDevelopment,
    topPlus,
    exterior,
    newDevelopmentFinished,
    ubicationInfo,

In [56]:
drop_columns = []

In [57]:
df_ubi["priceInfo"]

0                                                                                                      {'price': {'amount': 985000.0, 'currencySuffix': '€'}}
1       {'price': {'amount': 265000.0, 'currencySuffix': '€', 'priceDropInfo': {'formerPrice': 280000.0, 'priceDropValue': 15000, 'priceDropPercentage': 5}}}
2        {'price': {'amount': 275000.0, 'currencySuffix': '€', 'priceDropInfo': {'formerPrice': 280000.0, 'priceDropValue': 5000, 'priceDropPercentage': 2}}}
3                                                                                                     {'price': {'amount': 1600000.0, 'currencySuffix': '€'}}
4       {'price': {'amount': 550000.0, 'currencySuffix': '€', 'priceDropInfo': {'formerPrice': 590000.0, 'priceDropValue': 40000, 'priceDropPercentage': 7}}}
                                                                                ...
8087                                                                                                     {'price': {'amount': 9000.0, 'currencySuffix': '€'}}
8088                                                                                                    {'price': {'amount': 22000.0, 'currencySuffix': '€'}}
8089                                                                                                     {'price': {'amount': 8000.0, 'currencySuffix': '€'}}
8090                                                                                                     {'price': {'amount': 9900.0, 'currencySuffix': '€'}}
8091                                                                                                    {'price': {'amount': 29260.0, 'currencySuffix': '€'}}
Name: priceInfo, Length: 8092, dtype: object

si que estaría bien coger el currencySuffix, el amount es el mismo valor que la columna price pero nos podría ser util el saber el sufijo, o quizá no, pues se puede entender que es así pues los que son de €/mes serán los que se alquilan.

In [58]:
df_ubi["price"]

0        985000
1        265000
2        275000
3       1600000
4        550000
         ...
8087       9000
8088      22000
8089       8000
8090       9900
8091      29260
Name: price, Length: 8092, dtype: int64

Vamos a cambiar la columna de priceInfo para que contenga solamente el contenido del diccionario de price: {currencySuffix:}

In [59]:
df_ubi["priceInfo"] = df_ubi["priceInfo"].apply(lambda x: x["price"]["currencySuffix"] if pd.notna(x) else None)

In [60]:
df_ubi["description"]   #no

0                                                                                                                                                                                                                          Gilmar Consulting Inmobiliario vende, en el exclusivo barrio de Cerrado de Calderón, ubicado en la prestigiosa zona de Málaga Este, en la Urbanización Parque Clavero, este impresionante chalé adosado que redefine el concepto de elegancia y confort. Con una extensión de 245 m² construidos, esta propiedad es una joya inmobiliaria que no puedes dejar pasar. Distribuido en tres plantas, este chalé cuenta con espacios amplios y luminosos que garantizan una experiencia de vida inigualable. La planta inferior nivel jardín, la planta baja o a nivel de calle y la planta alta, comunicadas interiormente por una amplia escalera. En la planta inferior encontramos tres dormitorios, uno de ellos con baño en suite y los otros dos con armarios empotrados, otra habitación, cuarto de baño, pasillo y escalera de acceso a plantas superiores. La planta baja, o a nivel de calle, consta de hall con armario empotrado, cuarto de aseo, cocina con lavadero, salón comedor con chimenea, amplia terraza y escaleras. Y en la planta alta se distribuye en un dormitorio con gran vestidor y amplio baño en suite, pasillo distribuidor y gran terraza con vistas despejadas al frondoso jardín privado que circunda la urbanización. Este chalé adosado está equipado con características de alta calidad, como carpintería interior de madera barnizada y ventanas con protección térmica que aseguran aislamiento y confort. La calefacción central y la alarma garantizan un ambiente seguro y acogedor durante todo el año. Así como cerramientos en terrazas con cristal aislante y blindado. Para esos días soleados, la piscina privada de la urbanización es el lugar perfecto para relajarse y disfrutar del clima mediterráneo. La ubicación es inmejorable. Cerrado de Calderón es conocido por su tranquilidad y exclusividad, con fácil acceso a todos los servicios necesarios. Cerca del Colegio Cerrado de Calderón, reconocido por su excelencia académica. Además, las líneas de autobuses 33 y 35 conectan este barrio con el resto de la ciudad, facilitando el desplazamiento. Málaga Este es una zona que combina la tranquilidad residencial con la proximidad a la vibrante vida urbana de Málaga Capital. Sus calles están adornadas con elegantes casas y zonas verdes, creando un entorno ideal para familias y quienes buscan un estilo de vida sofisticado. La alta demanda de viviendas en el Limonar hace que este adosado sea una oportunidad para visitar hoy mismo. Seguro que te enamora. Desde 1983, GILMAR se ha dedicado a ayudar a sus clientes a encontrar la casa de sus sueños, ofreciendo un servicio profesional y personalizado que garantiza la satisfacción y tranquilidad en cada transacción inmobiliaria.  Para más información sobre este inmueble, no dudes en contactar con nuestro equipo en la oficina de Málaga, ubicada en Calle Cortina del Muelle 13, o llamando al teléfono También puedes escribirnos al correo electrónico. Por favor, facilita la referencia 206265 para que podamos atenderte de manera más eficiente.
1                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        ¡SOMOS PROPIETARIOS! Disfruta de todas las ventajas de comprar directamente a la propiedad. Exclusivo piso ubicado en el barrio de Huelin, en Málaga. La vivienda está ubicada en la planta 8 exterior con ascensor. Dispone de una superficie total de 66 m², distribuidos en salón y comedor, cocina abierta equipada, 2 dormitorios y 1 baño. Además, cuenta con ascensor, cocina amueblada, armarios empotrados y aire acondicionado. Situado en el barrio Huelin, en la Calle Mendoza, cuenta con una ubicación que te permitirá estar cerca de la laya de Huelin, del Parque del Huelin y del Puerto de Málaga. A su vez, está próximo a paradas de metro como La Isla (L2). Agenda tu visita presencial, te acompañamos en todo el proceso. Llámanos de lunes a viernes de 9.00h a 20.00h En cumplimiento del decreto de la Junta de Andalucía 218-2005 del 11 de octubre, se informa a los clientes que los gastos notariales, registrales y I. T. P. no están incluidos en el precio. Le recordamos que como consumidor tiene derecho a que se le informe y entregue la documentación informativa que corresponda, según el caso, en base a lo dispuesto en el Decreto 218/05 de 11 de octubre que regula el Reglamento de Información al Consumidor en la compra-venta y arrendamiento de viviendas en Andalucía.
2                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     ¡SOMOS PROPIETARIOS! Disfruta de todas las ventajas de comprar directamente a la propiedad. Exclusivo piso ubicado en Málaga. La vivienda está ubicada en la planta 1 exterior con ascensor. Dispone de una superficie total de 82 m², distribuidos en salón y comedor, cocina independiente equipada, 2 dormitorios y 2 baños. Además, cuenta con ascensor, terraza, cocina amueblada, armarios empotrados, aire acondicionado y balcón. Situado en la Alameda de Capuchinos, cuenta con una ubicación que te permitirá estar cerca de todo lo que necesitas como la Facultad de Ciencias Económicas y Empresariales. A unos minutos en coche encontramos el Hospital Materno-Infantil, el Centro Comercial Rosaleda y el Estadio La Rosaleda. A su vez, está próximo a supermercados, restaurantes, colegios, gimnasios, paradas de autobús y a la estación de tren Málaga-Centro-Alameda a unos minutos en coche. Agenda tu visita y te acompañamos en todo el proceso. Llámanos de lunes a viernes de 9.00h a 20.00h La vivienda ha sido completamente reformada y está representada por imágenes reales tras la finalización de la obra. El mobiliario no está incluido en el precio, es representativo para visualizar las dimensiones reales de la estancia y un ejemplo de cómo queda la vivienda decorada. En cumplimiento del decreto de la Junta de Andalucía 218-2005 del 11 de octubre, se informa a los clientes que los gastos notariales, registrales y I. T. P. no están incluidos en el precio. Le recordamos que como consumidor tiene derecho a que se le informe y entregue la documentación informativa que corresponda, según el caso, en base a lo dispuesto en el Decreto 218/05 de 11 de octubre que regula el Reglamento de Información al Consumidor en la compra-venta y arrendamiento de viviendas en Andalucía.
3       Gilmar Consulting Inmobiliario vende esta exclusiva vivienda en venta en el Paseo de Sancha: historia, elegancia y mar en la ubicación más privilegiada de Málaga Presentar una propiedad verdaderamente única, situada en lo que, sin lugar a dudas, es la arteria residencial más prestigiosa y reconocida de Málaga: el Paseo de Sancha. Esta majestuosa avenida, que conecta los distinguidos barrios de La Malagueta y El Limonar, se alza como un escaparate arquitectónico sin igual en la ciudad, donde la historia, la belleza y el urbanismo más refinado se dan la mano. Vivir en el Paseo de Sancha es recorrer la huella del esplendor burgués malagueño, una época en la que las familias más influyentes apostaron por construir sus residencias junto al mar, encargando sus proyectos a los arquitectos más brillantes del momento. Nombres como Joaquín de Rucoba, Gerónimo Cuervo, Julio O’Brien, José María de Sancha o Fernando Guerrero Strachan dejaron su impronta en cada esquina de esta avenida, creando edificaciones señoriales que hoy son auténticas joyas patrimoniales y una referencia del buen gusto y la distinción. En este contexto de máxima categoría, se encuentra la vivienda que hoy ofrecemos: un exclusivo piso de 174 metros cuadrados construidos que combina amplitud, luminosidad, estilo y una ubicación inmejorable. Situado en una finca cuidada y representativa, con ascensor y plaza de garaje en el propio edificio, esta propiedad reúne todos los requisitos para convertirse en el hogar ideal para quienes buscan calidad de vida y exclusividad. La vivienda se distribuye en tres dormitorios, dos baños completos, una cocina independiente y un imponente salón principal, al que se ha incorporado uno de los dormitorios originales antes mencionados para ganar en espacio y funcionalidad. Este gran salón, dividido en diferentes ambientes —zona de estar, comedor y rincón de lectura o tertulia—, se convierte en el corazón de la vivienda, perfecto tanto para la vida cotidiana como para reuniones con familia y amigos. Pero el elemento que marca la diferencia, es sin duda su espectacular terraza perimetral. Con generosas dimensiones y acceso desde distintas estancias, esta terraza envuelve la vivienda y la llena de luz, creando múltiples rincones en los que disfrutar del clima malagueño, del sol y de las vistas al mar, este espacio exterior convierte esta propiedad en una oportunidad realmente especial y difícil de encontrar. Con una orientación sureste, la vivienda disfruta de sol durante buena parte del día, lo que unido a sus grandes ventanales y su impecable estado de conservación, la convierte en un hogar listo para entrar a vivir sin necesidad de reformas. GILMAR es una reconocida empresa inmobiliaria que lleva desde 1983 ayudando a sus clientes a encontrar la casa de sus sueños. Con una amplia experiencia en el mercado inmobiliario, GILMAR se ha ganado la confianza de sus clientes gracias a su profesionalidad y excelencia en el servicio. Si está interesado en obtener más información sobre esta propiedad, no dude en ponerse en contacto con nuestro equipo en la oficina de Málaga, situada en Calle Cortina del Muelle 13, o llamando al Estaremos encantados de atenderle.
4                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       Vivienda en exclusiva situada en pleno centro histórico de Málaga. Encantador y original piso cerca de calle Larios y próxima a todo tipo de servicios, museos, restaurantes, comercios, bus, metro, etc. A escasos minutos andando a calle Larios y Alameda Principal. La vivienda consta de 143 m2 construidos, distribuidos en salón comedor, cocina independiente, tres dormitorios y dos baños. Muy luminosa gracias a sus grandes balcones. PIDE MÁS INFORMACIÓN Y VISITA NUESTRA WEB WWW. UNICASA. ES. En cumplimiento del Decreto de la Junta de Andalucía 218/2005 del 11 de Octubre, se informa al cliente que los gastos notariales, registrales, ITP y otros gastos inherentes a la compraventa no están incluidos en el precio.
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    ...

In [61]:
drop_columns.append("description")

In [62]:
df_ubi["status"].unique()  #si

array(['good', 'renew', 'newdevelopment', nan], dtype=object)

In [63]:
df_ubi["change"] #no

0       {}
1       {}
2       {}
3       {}
4       {}
        ..
8087    {}
8088    {}
8089    {}
8090    {}
8091    {}
Name: change, Length: 8092, dtype: object

In [64]:
drop_columns.append("change")

In [65]:
df_ubi["detailedType"]

0       {'typology': 'chalet', 'subTypology': 'terracedHouse'}
1                                         {'typology': 'flat'}
2                                         {'typology': 'flat'}
3                                         {'typology': 'flat'}
4                                         {'typology': 'flat'}
                                 ...
8087                                    {'typology': 'garage'}
8088          {'typology': 'garage', 'subTypology': 'twoCars'}
8089                                    {'typology': 'garage'}
8090                                    {'typology': 'garage'}
8091                                    {'typology': 'garage'}
Name: detailedType, Length: 8092, dtype: object

Vamos a quedarnos solamente con el tipo de vivienda más general, sin este tipo detallado.

In [66]:
drop_columns.append("detailedType")

In [67]:
df_ubi["suggestedTexts"] #no es necesario para nuestro modelo

0                                  {'subtitle': 'Parque Clavero, Málaga', 'title': 'Chalet adosado en calle Juan de la Cierva'}
1                                                              {'subtitle': 'Huelin, Málaga', 'title': 'Piso en calle Mendoza'}
2                                 {'subtitle': 'Olletas - Sierra Blanquilla, Málaga', 'title': 'Piso en alameda de Capuchinos'}
3                                          {'subtitle': 'Malagueta - Monte Sancha, Málaga', 'title': 'Piso en paseo de Sancha'}
4                                                                     {'subtitle': 'Centro Histórico, Málaga', 'title': 'Piso'}
                                                                 ...
8087                                               {'subtitle': 'Sitio de Calahonda, Mijas', 'title': 'Garaje en calle Torcal'}
8088                            {'subtitle': 'Parque de la Paloma, Benalmádena', 'title': 'Garaje en avenida las Palmeras, 33'}
8089    {'subtitle': 'Manantiales - Estación de Autobuses, Torremolinos', 'title': 'Garaje en calle Fernando Trapero Blazquez'}
8090                     {'subtitle': 'Zona Centro Comercial Torrequebrada, Benalmádena', 'title': 'Garaje en calle Almuñécar'}
8091                                       {'subtitle': 'Nueva Andalucía, Marbella', 'title': 'Garaje en calle de las Adelfas'}
Name: suggestedTexts, Length: 8092, dtype: object

In [68]:
drop_columns.append("suggestedTexts")

In [69]:
df_ubi["hasPlan"] #no se que significa así que lo quitamos

0        True
1        True
2        True
3        True
4        True
        ...
8087    False
8088    False
8089    False
8090    False
8091    False
Name: hasPlan, Length: 8092, dtype: bool

In [70]:
drop_columns.append("hasPlan")

In [71]:
df_ubi["hasStaging"] #no se que significa así que lo quitamos

0       False
1       False
2       False
3       False
4        True
        ...
8087    False
8088    False
8089    False
8090    False
8091    False
Name: hasStaging, Length: 8092, dtype: bool

In [72]:
drop_columns.append("hasStaging")

In [73]:
df_ubi["highlight"].dropna() #tiene muchos valores nulos, mas de la mitad

0            {'groupDescription': 'Top+'}
1            {'groupDescription': 'Top+'}
2            {'groupDescription': 'Top+'}
3            {'groupDescription': 'Top+'}
4            {'groupDescription': 'Top+'}
                      ...
8037    {'groupDescription': 'Destacado'}
8038    {'groupDescription': 'Destacado'}
8039    {'groupDescription': 'Destacado'}
8040    {'groupDescription': 'Destacado'}
8041    {'groupDescription': 'Destacado'}
Name: highlight, Length: 3339, dtype: object

In [74]:
df_ubi["highlight"].dropna().apply(lambda x: x.get("groupDescription")).unique()

array(['Top+', 'Top', 'Destacado'], dtype=object)

Esta columna parece que tiene mas sentido por la popularidad de la vivienda, debido a esto y a que tenemos muchos valores nulos, vamos a eliminarla también.

In [75]:
drop_columns.append("highlight")

In [76]:
df_ubi["topNewDevelopment"].unique()

array([False])

Son todos falsos entonces vamos a eliminarla

In [77]:
drop_columns.append("topNewDevelopment")

In [78]:
df_ubi["topPlus"].value_counts() #no la voy a considerar tampoco

topPlus
False    7989
True      103
Name: count, dtype: int64

In [79]:
drop_columns.append("topPlus")

In [80]:
df_ubi["exterior"].value_counts() #Tiene bastantes valores nulos y no se muy bien que significa asi que la elimino

exterior
1.0    3609
0.0     619
Name: count, dtype: int64

In [81]:
drop_columns.append("exterior")

In [82]:
df_ubi["newDevelopmentFinished"].dropna() #tiene demasiados valores nulos

56      0.0
57      0.0
69      0.0
71      0.0
72      0.0
       ...
7674    0.0
7971    1.0
7972    1.0
7973    1.0
8055    0.0
Name: newDevelopmentFinished, Length: 365, dtype: float64

In [83]:
drop_columns.append("newDevelopmentFinished")

In [84]:
df_ubi["ubicationInfo"].dropna()

867             {'key': 'underground', 'text': 'Sótano'}
868     {'key': 'onTheStreet', 'text': 'A pie de calle'}
869     {'key': 'onTheStreet', 'text': 'A pie de calle'}
871     {'key': 'onTheStreet', 'text': 'A pie de calle'}
872     {'key': 'onTheStreet', 'text': 'A pie de calle'}
                              ...
7937    {'key': 'onTheStreet', 'text': 'A pie de calle'}
7938    {'key': 'onTheStreet', 'text': 'A pie de calle'}
7939    {'key': 'onTheStreet', 'text': 'A pie de calle'}
7940    {'key': 'onTheStreet', 'text': 'A pie de calle'}
7941    {'key': 'onTheStreet', 'text': 'A pie de calle'}
Name: ubicationInfo, Length: 1248, dtype: object

In [85]:
drop_columns.append("ubicationInfo")

In [86]:
# La columna distance lo que contiene es la distancia a la que se encuentra el inmueble del centro de la ciudad, pero tiene demasiados valores nulos y tenemos además los valores de longitud y latitud que nos da las ubicaciones exactas
drop_columns.append("distance")

Verificamos que en drop_columns estan todas las columnas que queremos eliminar y las eliminamos de ambos dataframes

In [87]:
drop_columns

['description',
 'change',
 'detailedType',
 'suggestedTexts',
 'hasPlan',
 'hasStaging',
 'highlight',
 'topNewDevelopment',
 'topPlus',
 'exterior',
 'newDevelopmentFinished',
 'ubicationInfo',
 'distance']

In [88]:
df_ubi = df_ubi.drop(columns=drop_columns)
df_ubi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8092 entries, 0 to 8091
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   propertyCode    8092 non-null   int64
 1   price           8092 non-null   int64
 2   priceInfo       8092 non-null   object
 3   propertyType    8092 non-null   object
 4   operation       8092 non-null   object
 5   size            7434 non-null   float64
 6   rooms           5350 non-null   float64
 7   bathrooms       7434 non-null   float64
 8   province        8092 non-null   object
 9   municipality    8092 non-null   object
 10  district        7950 non-null   object
 11  country         8092 non-null   object
 12  neighborhood    5927 non-null   object
 13  latitude        8092 non-null   float64
 14  longitude       8092 non-null   float64
 15  status          7407 non-null   object
 16  newDevelopment  8092 non-null   bool
 17  parkingSpace    4000 non-null   object
 18  priceByArea     7962 non-null   float64
 19  floor           5462 non-null   object
 20  hasLift         4816 non-null   float64
dtypes: bool(1), float64(7), int64(2), object(11)
memory usage: 1.2+ MB

In [89]:
df_no_ubi = df_no_ubi.drop(columns=drop_columns)
df_no_ubi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8092 entries, 0 to 8091
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   propertyCode    8092 non-null   int64
 1   price           8092 non-null   int64
 2   priceInfo       8092 non-null   object
 3   propertyType    8092 non-null   object
 4   operation       8092 non-null   object
 5   size            7434 non-null   float64
 6   rooms           5350 non-null   float64
 7   bathrooms       7434 non-null   float64
 8   latitude        8092 non-null   float64
 9   longitude       8092 non-null   float64
 10  status          7407 non-null   object
 11  newDevelopment  8092 non-null   bool
 12  parkingSpace    4000 non-null   object
 13  priceByArea     7962 non-null   float64
 14  floor           5462 non-null   object
 15  hasLift         4816 non-null   float64
dtypes: bool(1), float64(7), int64(2), object(6)
memory usage: 956.3+ KB

Ahora para finalizar con esta primera parte de la limpieza de los dataframes vamos a eliminar si tenemos duplicados

Guardamos el dataframe

In [90]:
df_ubi.to_csv("../data/working_data/idealista_data_cleaned_1.csv", index=False)